body {
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  padding: 20px;
  cursor: url(cursor79.cur) 4 12, auto;
}

/*Typography*/
a {
  font-family: 'Syne Tactile', cursive;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.05em;
  font-size: 20px;
}

sub, sup {
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

p {
  margin-top: 8px;
}

/*layout*/
section {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  font-size: 20px;
  width: 100%;
}

.description {
  position: relative;
}

.pixel-art {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 250px;
  }

.columns {
  display: grid;
  grid-auto-flow: row;
}

.work {
  padding-bottom: 80px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}

.links {
  display: flex;
  align-items: center;
}

.links img {
  margin-right: 8px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("icons/scrollbar-bg.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url('icons/button-up.svg');
  background-size: cover;
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url('icons/button-down.svg');
  background-size: cover;
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url('icons/button-left.svg');
  background-size: cover;
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url('icons/button-right.svg');
  background-size: cover;
}

/*Desktop*/
@media screen and (min-width: 600px) {
  /*Typography*/
  section {
    font-size: 40px;
  }

  a {
    font-size: 40px;
  }

  h1 {
    font-size: 20px;
  }

  .columns a {
    font-size: 24px;
  }

  sub, sup {
    font-size: 24px;
  }

  .description {
    max-width: 920px;
  }

  .columns {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 24px;
  }

  .pixel-art {
    width: 400px;
  }

}
